<div id="main" aria-label="mainPage">
<div id="pageTitle" tabindex="0" aria-label="page header" class="expanded" title="Close Section"><h1 class="pageTitle"><span class="pageTitleText">Log In</span><span class="arrow"></span></h1></div>

<div class="drawerWdgt" lang="en" id="breadcrumbsDrawer" widgetid="breadcrumbsDrawer" style="display: block;">
    <div id="breadcrumbsDrawer_drawerContentContainer" data-dojo-attach-point="drawerContentContainer" class="drawerContentContainer" role="region" tabindex="0" aria-label="breadcrumbsDrawer drawer section" aria-expanded="true" style="background-color: rgb(255, 255, 255); border: 1px solid transparent; height: auto;">
        <div id="breadcrumbsDrawer_drawerContent" class="drawerContent" data-dojo-attach-point="containerNode">			
<div id="breadcrumbs">
<ul>
<li><a title="Home" href="/wps/portal/home/!ut/p/b0/04_Sj9CPykssy0xPLMnMz0vMAfGjzOIt3Q1cPbz8DTzdQwKNDTyNAw38gh0djQ0MzPSDU_P0C7IdFQElEpB5/">Home</a></li><li class="boldChild">My SCE</li></ul>
<div class="clear"></div>
</div>
</div>
        <div class="clear"></div>
    <a class="close" id="breadcrumbsDrawer_drawerClose" href="#" title="Close"><span class="hiddenAssociation" style="left:-75px;">Close Section</span></a></div>
</div>

<div class="contentArea">

<div class="formBanner">
    <div class="bannerMessageContainer">
         <div class="bannerMessage" style="width:100%;">
            <div class="mboxDefault">
		<div class="singleStatement">Login with SCE.com User ID</div></div>
        	<script language="javascript" type="text/javascript">
        mboxCreate('Log_In_My_SCE_Home_GreenBox');
		</script> 
	</div>
    </div>
</div>
	<div class="formContentArea">
		<div class="formContent" style="width:63%;padding:20px 20px 20px;margin:0 auto;">
			<form  #loginForm="ngForm" action="" method="POST">
				<input type="hidden" value="null" id="emailErrMsg_id">
				<input type="hidden" value="null" id="pwdErrMsg_id">
				<input type="hidden" value="false" id="errOcrd_id">
				
				
				
			
			
				<!-- error messages start -->
				<!--REQ000000739567 update login error messages start-->
				<div class="errorContainer"  aria-live="polite" id="newServerError" style="display:none">
					<div class="errorIconSmall"><span class="hiddenAssociation">error</span></div>
					<div class="errorContentSmall">
						<span class="messageContent">Sorry, your email and/or password was incorrect. Please try again. Need to make a payment? <a href="/wps/portal/home/apps/ssop/">Pay Now</a> </span>
					</div>
					<div class="clear"></div>
				</div>
				<!--REQ000000739567 update login error messages end-->
				<!-- form error container starts -->
				
				<!-- exception container starts -->
				
				<div class="errorContainer"  aria-live="polite" id="formError" style="display:none">
					<div class="errorIconSmall"><span class="hiddenAssociation">error</span></div> 
					<div class="errorContentSmall">
						<span class="messageContent">Please check the information you’ve entered and try again.</span>
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="errorContainer"  aria-live="polite" id="emailasteriskError" style="display: none">
                    <div class="errorIconSmall"><span class="hiddenAssociation">error</span></div>
                    <div class="errorContentSmall">
	            	 	<span class="messageContent">Please contact SCE Customer Service at 1-800-409-2365 for assistance with your Log In ID.</span>
	          		</div>
                	<div class="clear"></div>
                </div>
                <div class="errorContainer"  aria-live="polite" id="accountPendingError" style="display: none">
                	<div class="errorIconSmall"><span class="hiddenAssociation">error</span></div>
                	<div class="errorContentSmall">
		             	<span class="messageContent">Your account is pending verification. To complete your registration, please check your inbox for a verification email and follow the instructions.</span>
	          		</div>
                	<div class="clear"></div>
	       	 	</div>
	       	 	 <!-- error messages end -->
	       	 	
                
                
                <div class="informationModule">
	                <h2 class="pageHeader">Log in with your SCE.com User ID and password<!-- Create your User ID and password:--></h2>
	                		<!-- login username -->
	              
	              	<div id="uid" class="largeWrapper" >
                                <div class="fieldset">
									 <div class="form-group textbox">
										<div class="outerContainer" [ngClass]="{'disabled':userid.disabled}">
										  <div class="textboxContainer" [ngClass]="{'invalidState':userid 
										  && (userid.dirty || userid.touched) && !userid.valid, 'validState':userid 
										  && (userid.dirty || userid.touched) && userid.valid}">
											<div class="textboxContainerInner paddingTextWithInfo" >
												 <input type="text" id="userid" name="userid" placeholder="User id / Email"
												 required [(ngModel)]="loginForm.userid" #userid="ngModel" 
												 >
											</div>
										  </div>
										  <div class="iconsContainer">
											<div class="iconStatus hideIcon"
											  [ngClass]="{'showIcon':userid 
										  && (userid.dirty || userid.touched) && userid.valid}">
											</div>
											<!-- <div class="iconInfotip" tabindex="0" role="button" title="Open Section"
											#useridInfo (click)="useridInfo.showMore = !useridInfo.showMore;"></div> -->
										  </div>
										  <!-- <div *ngIf="useridInfo.showMore" class="drawerWdgt">
											  <div  class="drawerContentContainer" tabindex="0" aria-label="drawer section"  aria-expanded="true">
												  <div class="drawerContent" >
													<div class="infotipContent">
																		<span>Enter your user id.</span>
															</div>
														</div>
												  <div class="clear"></div>
											  </div>
										  </div> -->
										</div>  
									   

										<div *ngIf="userid.invalid && (userid.dirty || userid.touched)"
											 class="errorContainer error">
										  <div class="errorContainerIcon"></div>
										  <div class="errorContainerMessage" aria-live="assertive">
											<div *ngIf="userid.errors.required">
											  Your User ID is the email address you used to register with SCE.com.
											</div>
										  </div>
										</div>
									  </div>		
									
										
                                </div>
								
                                <div class="clear"></div>
                            </div>
                            <div class="contentRow messageContent">
                             Not Registered yet?
                             <a href="/wps/portal/home/mysce/userreg?newrequest=new">
                                Register Now
                             </a>
                         </div>
	                		<!-- login password -->
	             	
	             	<div id="top_pass" class="largeWrapper text-wraptl" >
                                <div class="fieldset">
                                <div class="form-group textbox">
										<div class="outerContainer" [ngClass]="{'disabled':pwd.disabled}">
										  <div class="textboxContainer" [ngClass]="{'invalidState':pwd 
										  && (pwd.dirty || pwd.touched) && !pwd.valid, 'validState':pwd 
										  && (pwd.dirty || pwd.touched) && pwd.valid}">
											<div class="textboxContainerInner paddingTextWithInfo" >
												 <input type="password" id="pwd" autocomplete="off" name="pwd" placeholder="Password"
												 required [(ngModel)]="loginForm.pwd" #pwd="ngModel" 
												 >
											</div>
										  </div>
										  <div class="iconsContainer">
											<div class="iconStatus hideIcon"
											  [ngClass]="{'showIcon':pwd 
										  && (pwd.dirty || pwd.touched) && pwd.valid}">
											</div>
											<!-- <div class="iconInfotip" tabindex="0" role="button" title="Open Section"
											#pwdInfo (click)="pwdInfo.showMore = !pwdInfo.showMore;"></div> -->
										  </div>
										 <!--  <div *ngIf="pwdInfo.showMore" class="drawerWdgt">
											  <div  class="drawerContentContainer" tabindex="0" aria-label="drawer section"  aria-expanded="true">
												  <div class="drawerContent" >
													<div class="infotipContent">
																		<span>Enter your password.</span>
															</div>
														</div>
												  <div class="clear"></div>
											  </div>
										  </div> -->
										</div>  
									   

										<div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)"
											 class="errorContainer error">
										  <div class="errorContainerIcon"></div>
										  <div class="errorContainerMessage" aria-live="assertive">
											<div *ngIf="pwd.errors.required">
											  Password hint: at least 8 characters,1 number,1 upper case and 1 lower case.
											</div>
										  </div>
										</div>
									  </div>	    
									
									
										
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="contentRow messageContent">
                            Forgot your password?
                            
                                <a href="/wps/portal/home/mysce/resetpassword/!ut/p/b1/04_Sj9CPykssy0xPLMnMz0vMAfGjzOIt3Q1cPbz8DTz9Q3wtDTy9XM28TCydjAxcjYEKIvEo8DUmTr8BDuBoQEh_uH4UXiUgF6AqcA8JNDbwNA408At2dDQ2MDCDKsDjhoLc0AiDTE9FAFPve8I!/dl4/d5/L2dJQSEvUUt3QS80SmtFL1o2XzlHMEVISk8wSU9UTTkwSUpFNko0OUIyMDk0/?newrequest=true">
                                    Reset Password
                                </a>
                            
                        </div>
	             	<!-- password end -->
	       	 		
	       	 		<!-- Remember me checkbox -->
	       	 		 <div id="rememberme_normal" class="contentRow rememberMeWrapper" style="padding-right:0px;">
							<div class="form-group custom-checkbox">
								<div class="outerContainer">
								  <div class="checkboxContainer" [ngClass]="{'invalidState':chkRememberMe 
								  && (chkRememberMe.dirty || chkRememberMe.touched) && !chkRememberMe.valid, 'validState':chkRememberMe 
								  && (chkRememberMe.dirty || chkRememberMe.touched) && loginForm.chkRememberMe}">
									<div class="checkboxContainerInner paddingTextWithInfo" >
										 <div class="widgetContainer">
										   <div class="dijit dijitReset dijitInline dijitCheckBox" [ngClass]="{'dijitCheckBoxChecked':loginForm.chkRememberMe }">
											 <input name="chkRememberMe" type="checkbox" [(ngModel)]="loginForm.chkRememberMe" [checked]="loginForm.chkRememberMe" (change)="loginForm.chkRememberMe = $event.target.checked" #chkRememberMe="ngModel"  class="dijitReset dijitCheckBoxInput" tabindex="0" id="chkRememberMe" 
											 aria-checked="false" aria-disabled="false" role="checkbox" aria-invalid="false" style="user-select: none;">
											</div>
										  </div>
										  
										  <div class="wdgtContentContainer">
											<label for="rememberMeCheckbox" class="">Remember Me</label>
										</div>
									</div>
								  </div>
								  <div class="iconsContainer">
									<div class="iconStatus hideIcon"
									  [ngClass]="{'showIcon':chkRememberMe 
								  && (chkRememberMe.dirty || chkRememberMe.touched) && loginForm.chkRememberMe}">
									</div>
									<!-- <div class="iconInfotip" tabindex="0" role="button" title="Open Section"
									#checkInfo (click)="checkInfo.showMore = !checkInfo.showMore;"></div> -->
								  </div>
								  <!-- <div *ngIf="checkInfo.showMore" class="drawerWdgt">
									  <div  class="drawerContentContainer" tabindex="0" aria-label="drawer section"  aria-expanded="true">
										  <div class="drawerContent" >
											<div class="infotipContent">
																<span>Enter your 9 digit bank ABA routing number.</span>
													</div>
												</div>
										  <div class="clear"></div>
									  </div>
								  </div> -->
								</div>  
							   

								<div *ngIf="chkRememberMe.invalid && (chkRememberMe.dirty || chkRememberMe.touched)"
									 class="errorContainer error">
								  <div class="errorContainerIcon"></div>
								  <div class="errorContainerMessage" aria-live="assertive">
									<div *ngIf="chkRememberMe.errors.required">
									  required field.
									</div>

								  </div>
								</div>
							  </div>
                        </div>
	       	 		<!-- Remember me checkbox end -->
		       	 	<div class="buttonsContainer">
		       	 		<!-- <span class="fright" id="loginWbutton">
		       	 			<button data-dojo-type="sce.form.Button" id="loginUserButton"
									data-dojo-props="styleType:'emphasized',icon:'rightArrow'" type="button">
									Log In
								</button>
		       	 		</span>
						<span class="fright" id="Sbuttonshadow" style="display: none">
		       	 			<button data-dojo-type="sce.form.Button" id="loginUserButtonshadow"
									data-dojo-props="styleType:'subdued-alt',icon:'rightArrow'" disabled type="button">
									Log In 
								</button>
		       	 		</span>
		       	 		<div class="clear"></div> -->
		       	 		 <div id="secondCallWrapper" class="col" style="width: 20%;float:right;">
		                    <div class="secondCallWrapper">
								<div class="buttonContainer" >
									<button type="button" class="primary-button" style="width: 100%;" (click)="login(loginForm.value)"><span class="buttonText">Log In ></span></button>
								 </div>     
		                    </div>
	                    </div>
	                    <div class="clear"></div> 
		       	 	</div>
		       	
		       	
			       	<div class="contentRow" id="hidden" style="display: none">
						<input type="hidden" name="targetURL_input"
								id="targetURL" value="/wps/myportal/home/mysce/billsnpayments/accountSummary/!ut/p/b1/jc7BDoIwEATQT-qU1qY9rgahmwBWMGovhhMhUfRg_H7RcPEgurdN3kxGRHEQcWgffdfe--vQnl9_NCcZ5EpyDW85A8jxJmzXRqFORnAcgcuQ5lzBV03h4Dk1rN0yQaH-y-PLEX7l9yK-iXI5cmkTtlaloAVp0mWhAD2BuYmfIGuCglcBZU00NpgJzIy8XXYH9L57AsdU0YY!/dl4/d5/L2dBISEvZ0FBIS9nQSEh/" />
						<div class="clear"></div>
					</div>			
					
					<div class="contentRow" style="display: none">
						<input type="hidden" name="URL_input" id="URL" value="" />
					</div>
				</div>
			
                        
            <!-- This input is needed to allow mobile device "Go" buttons to work -->
            <input type="submit" name="gobutton" value="gobutton" tabindex="-1" style="position:absolute; left: -999999px;" />
			
			</form>
		</div>
	</div>
</div>
</div>
