
<div class="carousel rightPanel" lang="en" id="carousel" widgetid="carousel">
    <div class="fullHeight containerNode">
		<div class="card cardTypeA liteGreyTheme" id="sce_RestCard_1" style="background-image: url(&quot;https://www.sce.com/wps/wcm/connect/a831eeed-6769-4a8d-8107-2da3ef311c13/ElectricVehicles-FINAL800X500.jpg?MOD=AJPERES&amp;CACHEID=a831eeed-6769-4a8d-8107-2da3ef311c13&quot;); left: 0%;">
			<div class="top">
				<h2>Electrifying SoCal’s Transportation for a Clean Energy Future</h2>
				<p>We are helping to build more charging stations and electrifying its vehicle fleet to help meet the state’s goal of 4 million zero-emission vehicles by 2030.</p><p dir="ltr" p="">&nbsp;</p>
			</div>
			<div class="bottom">
				<span class="left"> </span>
			</div>
		</div>

	</div>
</div>
