
<div id="main" aria-label="mainPage">
	<side-menu></side-menu>
	<div id="mainContent">
		<div id="pageTitle" tabindex="0" aria-label="page header" class="expanded" title="Close Section">
		<h1 class="pageTitle"><span class="pageTitleText">Billing &amp; Payment</span><span class="arrow"></span></h1>
		</div>
		<div class="drawerWdgt" lang="en" id="breadcrumbsDrawer" widgetid="breadcrumbsDrawer" style="display: block;">
		    <div id="breadcrumbsDrawer_drawerContentContainer" data-dojo-attach-point="drawerContentContainer" class="drawerContentContainer" role="region" tabindex="0" aria-label="breadcrumbsDrawer drawer section" aria-expanded="true" style="background-color: rgb(255, 255, 255); border: 1px solid transparent; height: auto;">
		        <div id="breadcrumbsDrawer_drawerContent" class="drawerContent" data-dojo-attach-point="containerNode">			
		<div id="breadcrumbs"><ul><li><a href="/wps/portal/home/">Home</a></li><li>MySCE</li><li><a href="?uri=cm:oid:page.sce.mysce.billsnpayments.accountSummary">Billing &amp; Payments</a></li></ul><div class="clear"></div></div>
		</div>
		        <div class="clear"></div>
		    <a class="close" id="breadcrumbsDrawer_drawerClose" href="#" title="Close"><span class="hiddenAssociation" style="left:-75px;">Close Section</span></a></div>
		</div>
	    <!-- Banner -->
	    <div id="userRegFormBanner" class="formBanner" style="background-color: #64a000;">
                    <div class="bannerMessageContainer">
                        <div class="bannerMessage" style="width:100%;">
                            
                           <div id="singleStatement" class="singleStatement" style="font-size:31.5px;">Convenient ways to make a payment.</div>
                            
                        </div>
                    </div>
         </div>
         <!-- Banner Ends -->
	    <!-- Action Box -->
	    <form #multiaccountform="ngForm" action="" method="POST">
	    <div class="contentRow stickyMenuResp dNoneResp" id="stickyMenuWrapper">
                                   <div class="lightBlock dropD" id="stickyHeaderMenu" style="background-color:#ededed;border:none;">
					<div class="contentRow">
						<div class="two-col">
							<div class="col fleft width-70">
								
								 <div>
									 <span id="accountSelectedInfo">
									    Select the All checkbox below to take action on the account listed on this page.
									 </span>
									 <span id="clearAll" style="display:none;">
									 	<a id="clearAllSelection" href="#" class="clearAll">
									 	   Clear All
									 	</a>
									 </span>
								 </div>
							 </div>

							<div class="col fright width-30"><span class="manageAccounts"><a href="/wps/myportal/home/mysce/myaccount?deeptarget=/sma/escprofile/escmanageaccounts.aspx" id="manageAccounts">Manage Your Accounts to Display (30)</a></span></div>
							<div class="clear"></div>
						</div>
					</div>

					<div class="clear"></div>
                                     <div class="buttonsContainer">
                                         <div class="fleft actionButtonPadding1">
											 
											 <div id="rememberme_normal" class="contentRow rememberMeWrapper" style="padding-right:0px;">
							<div class="form-group custom-checkbox">
								<div class="outerContainer">
								  <div class="checkboxContainer" [ngClass]="{'invalidState':chkRememberMe 
								  && (chkRememberMe.dirty || chkRememberMe.touched) && !chkRememberMe.valid, 'validState':chkRememberMe 
								  && (chkRememberMe.dirty || chkRememberMe.touched) && multiaccountform.chkRememberMe}">
									<div class="checkboxContainerInner paddingTextWithInfo" >
										 <div class="widgetContainer">
										   <div class="dijit dijitReset dijitInline dijitCheckBox" [ngClass]="{'dijitCheckBoxChecked':multiaccountform.chkRememberMe }">
											 <input name="chkRememberMe" type="checkbox" [(ngModel)]="multiaccountform.chkRememberMe" [checked]="multiaccountform.chkRememberMe" (change)="multiaccountform.chkRememberMe = $event.target.checked" #chkRememberMe="ngModel"  class="dijitReset dijitCheckBoxInput" tabindex="0" id="chkRememberMe" 
											 aria-checked="false" aria-disabled="false" role="checkbox" aria-invalid="false" style="user-select: none;">
											</div>
										  </div>
										  
										  <div class="wdgtContentContainer">
											<label for="rememberMeCheckbox" class="">Select All</label>
										</div>
									</div>
								  </div>
								  <!-- <div class="iconsContainer">
									<div class="iconStatus hideIcon"
									  [ngClass]="{'showIcon':chkRememberMe 
								  && (chkRememberMe.dirty || chkRememberMe.touched) && loginForm.chkRememberMe}">
									</div>
								  </div> -->
								  <!-- <div *ngIf="checkInfo.showMore" class="drawerWdgt">
									  <div  class="drawerContentContainer" tabindex="0" aria-label="drawer section"  aria-expanded="true">
										  <div class="drawerContent" >
											<div class="infotipContent">
																<span>Enter your 9 digit bank ABA routing number.</span>
													</div>
												</div>
										  <div class="clear"></div>
									  </div>
								  </div> -->
								</div>  
							   

								<div *ngIf="chkRememberMe.invalid && (chkRememberMe.dirty || chkRememberMe.touched)"
									 class="errorContainer error">
								  <div class="errorContainerIcon"></div>
								  <div class="errorContainerMessage" aria-live="assertive">
									<div *ngIf="chkRememberMe.errors.required">
									  required field.
									</div>

								  </div>
								</div>
							  </div>
                        </div>	</div>
						
											<div id="PayBtnWrapper">
													<div class="fleft actionButtonPadding">
															<div id="secondCallWrapper" class="col" >
											                    <div class="secondCallWrapper">
																	<div class="buttonContainer" >
																		<button type="button" class="primary-button" style="width: 100%;" ><span class="buttonText">Pay Bills</span></button>
																	 </div>     
											                    </div>
										                    </div>
													</div>
											</div>
						                      <div id="OBEnrollBtnWrapper">
						                      		<div class="fleft actionButtonPadding">
														 <div id="secondCallWrapper" class="col" >
											                    <div class="secondCallWrapper">
																	<div class="buttonContainer" >
																		<button type="button" class="primary-button" style="width: 100%;" ><span class="buttonText">Go Paperless</span></button>
																	 </div>     
											                    </div>
										                    </div>
													</div>
											</div>
											<div id="AutoPayBtnWrapper">
												<div class="fleft actionButtonPadding">
													 <div id="secondCallWrapper" class="col" >
										                    <div class="secondCallWrapper">
																<div class="buttonContainer" >
																	<button type="button" class="primary-button" style="width: 100%;" ><span class="buttonText">Sign Up for Auto Pay</span></button>
																 </div>     
										                    </div>
										               </div>
												</div>
											</div>
											<div class="clear"></div>
						                                     </div>
                                     <div class="clear"></div>
                                   </div>
                                 <div class="clear"></div>
				</div>
	    <!-- Action Box Ends -->
	<!-- </div> -->
	 <!-- Search Section and Sort section -->
	 <div class="contentSection">
					<div class="contentRow">
						<div class="informationModule1" style="background-color:#ffffff;">
							<div class="contentRow">
								<div class="lightBlock">
								    <!-- Sort Section -->
								    <div class="contentRow">
                                             <div class="two-col">
                                                  <div class="col width-60"><!-- style="width:60%" -->
                                                      <h3 class="subcontentHeader" style="font-size:24px;">
                                                          All Accounts
                                                      </h3>
														  Click an account below to view account details	
					                               </div>
					                               
						                               <div class="col width-40"><!-- style="width:40%" -->
													         <label class="" for="sortElement" id="sortElement_label"><strong>
													           Sort By
													         </strong></label>
						                                     <div class="select validState" lang="en" id="sortElement_container" widgetid="sortElement">
											    <div class="outerContainer">
											        <div class="iconsContainer"></div>
											        <div id="sortElement_perimeterContainer" class="perimeterContainer" tabindex="0" role="combobox" aria-describedby="sortElement_selectDisplayValue" aria-owns="sortElement_optionsContainer" aria-expanded="false" aria-required="false" aria-invalid="false" aria-labelledby="sortElement_label">
											            <span role="textbox" class="textboxSelect hiddenAssociation">&nbsp;</span><div id="sortElement_selectContainer" class="selectContainer validState collapsedState">
											                <div id="sortElement_selectContainerIcon" class="selectContainerIcon">
											                    <div class="downCarrot"></div>
											                </div>
											                <div id="sortElement_iconStatusContainer" class="iconStatus valid" style="opacity: 1;"><div id="sortElement_alert" class="alert"><span class="hiddenAssociation" role="alert" id="sortElement_alert_association">input valid</span></div></div>
											                <div id="sortElement_selectDisplayValue" class="selectDisplayValue">Customer Account Number (Ascending)</div>
											            </div>
											        </div>
											        
											        
											    </div>
											    <!-- <div class="errorContainer error" id="sortElement_errorContainer" tabindex="0" aria-live="polite"><div class="errorContainerIcon"><span class="hiddenAssociation">error</span></div><div id="sortElement_errorContainerMessage" class="errorContainerMessage" aria-live="polite"></div></div> -->
											<select id="sortElement" name="sortElement" class="hiddenSelector" tabindex="-1" aria-invalid="false"><option value="CANAMEASC">Customer Name (Ascending)</option><option value="CANAMEDESC">Customer Name (Descending)</option><option value="CANUMASC">Customer Account Number (Ascending)</option><option value="CANUMDESC">Customer Account Number (Descending)</option></select></div>
												                                                      	<div class="clear"></div>
												                                                  </div>
											                                                  
																						</div>
																					<div class="clear"></div>
																				</div>
								</div></div></div></div></div>
	 <!-- Section Ends -->
	</form>
</div>


