<div class="greenPanel">

<ul>
<!-- <li><div><a routerLink="/account" routerLinkActive="active">Pay Your Bill</a></div></li> -->
<li><div><a routerLink="/login" routerLinkActive="active">Pay Your Bill</a></div></li>
<li><div><a href="?1dmy&amp;urile=wcm%3apath%3a%2Fsce_content_en%2Fcontent%2Fapplications%2Fself%2Bservice%2Bonline%2Bpayment" title="Pay As Guest">Pay As Guest</a></div></li>
<li><div><a href="/wps/myportal/home/mysce/myaccount" title="View Balance &amp; Usage">View Balance &amp; Usage</a></div></li>
<li><div><a routerLink="/outage" title="Check Power Outages">Check Power Outages</a></div></li>
<li><div><a href="/wps/portal/home/customer-service/movecenter/?ecid=web_quicklink-home_TOTO" title="Turn Service On/Off">Turn Service On/Off</a></div></li>
<li><div><a href="/wps/portal/home/residential/rebates-savings/rebates/?ecid=web_quicklink-home_rebates" title="Find Rebates">Find Rebates</a></div></li>
<li><div><a href="?1dmy&amp;urile=wcm%3apath%3a%2Fsce_content_en%2Fcontent%2Fcustomer%2Bsupport%2Fcontact%2Bus" title="Contact Us">Contact Us</a></div></li>
</ul>
</div>