
<div id="main" aria-label="mainPage">
	<side-menu></side-menu>
	<div id="mainContent">
		<div id="pageTitle" tabindex="0" aria-label="page header" class="expanded" title="Close Section">
		<h1 class="pageTitle"><span class="pageTitleText">Billing &amp; Payment</span><span class="arrow"></span></h1>
		</div>
		
		<div class="contentRow">
					<div class="contentSection">
						<div class="contentRow display1">
							<div class="lightBlock" style="background-color:#595959;line-height:1em;border-bottom:none;">
								 <div class="three-col">
									  <div class="col strong" style="color:white;">
									  	<span title="LIM, SHAU">LIM, SHAU</span>
										  
									  </div>
									  <div class="col " style="color:white;">2-12-903-1100</div>
									   
									  <div class="clear"></div>
								 </div>
							</div>
							<div class="lightBlock">
								<div class="two-col alignCentre">
									<div class="col">  
									      
										<div class="bottomSpace"><strong>Balance Due: $0.00</strong></div>
										
										     <div class="buttonContainer bottomSpace">
												<button type="submit" class="primary-button"><span class="buttonText">View Bill</span>
												</button>		
											 </div> 
										    Your next bill will be available on or about Oct 18, 2017
										
									</div>
									<div class="col"> 
									     
											  
											  
											    
													<div class="bottomSpace">
													 
													    
												        	
															
															   
															
														
													 
													</div>
												
											  
										  
									 <div class="buttonContainer bottomSpace">
												<button type="submit" class="primary-button"><span class="buttonText">Pay Now</span>
												</button>		
											 </div> 
									<div class="bottomSpace"><a href="#" class="MoreWaysToPay">More Ways to Pay &gt;</a></div>
									
										
										
									
									</div>
									
									<div class="clear"></div>																		
								</div>
							</div>
							<div class="clear"></div>
												
							
							<div class="contentRow">
								<div class="informationModule" id="drawerButtonMobile" style="background-color:#595959 !important;padding-top:10px;padding-bottom:10px;cursor:pointer;">	
										<div class="contentRow fleft" style="width:95%;">
											<div class="subcontentHeader" style="color:white;font-size:18px;">Billing and Payment Preferences</div>
										</div>
										<div class="col1 fright" style="width:5%">
										    <div class="marginRight4"> 
												<div class="fright">
												    <button type="button" aria-label="whiteIcon" title="Open Section" id="accountSummaryDtls" style="border:none;background-color:#595959;" class="detailsButton collapsed"><span class="whiteDownArrowIcon"><span class="hiddenAssociation">whiteArrow</span></span></button>
												</div>
											</div>
											<div class="clear"></div>
										</div>
										<div class="clear"></div>
								</div>	
							</div>
							<div class="drawerWdgt" lang="en" id="bnpDrawer" widgetid="bnpDrawer" style="display: block;">
    <div id="bnpDrawer_drawerContentContainer" data-dojo-attach-point="drawerContentContainer" class="drawerContentContainer" role="region" tabindex="0" aria-label="bnpDrawer drawer section" style="background-color: transparent; height: auto;" aria-expanded="false">
        <div id="bnpDrawer_drawerContent" class="drawerContent" data-dojo-attach-point="containerNode">
							      <div class="lightBlock">
							      <div class="lightBlock" style="border-top:none;border:none !important;">
									 <div class="three-col" style="width:100%;">
										  <div class="col width40">
										       Auto Pay
										  </div>
										  
										  <div class="col width60">
											  
											  <a id="DP_DpIneligible_129031100" class="accountDtlsAnchor" href="#" title="Auto Pay Enroll">Ineligible for Auto Pay &gt;</a>
										  </div>
										  
										  
										  <div class="clear"></div>
									 </div>
								</div>
								
								 <div class="lightBlock" style="border-top:none;border:none !important;">
									 <div class="three-col" style="width:100%;">
										  <div class="col width40">
										        Online Payment
										  </div>
										  
											  <div class="col width60">
											 	<a href="#" id="OP_OpIneligible_129031100" class="accountDtlsAnchor">
											    Ineligible for Online Payment &gt;
											 </a></div>
										 
										 
										  <!-- <div class="col miscfright" style="width:auto;">
											<span><a class="cursorPointer"id="paymentMethod">View / Edit</a></span>
										  </div> -->
										  <div class="clear"></div>
									 </div>
								</div>
								<div class="lightBlock" style="border:none !important;">
									 <div class="three-col">
										  <div class="col width40">
										       Paperless Billing
										  </div>
										  <div class="col width60">
												<a href="#" id="OB_ObIneligible_129031100" class="accountDtlsAnchor">
												 Ineligible for Paperless Billing &gt;</a>
										  </div>
										  <div class="clear"></div>
									 </div>
								</div>
								
								
								</div>
							</div>
        <div class="clear"></div>
    </div>
</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
	

	<div class="contentRow">
		<div class="informationModule" id="summaryOfChargesHeader" style="background-color:#595959 !important;padding-top:10px;padding-bottom:10px;">
			 <div class="contentRow">
				<div class="subcontentHeader" style="color:white;font-size:18px;">List of Charges</div>
			 </div>
		</div>
		<div class="contentSection1" id="summaryOfChargesContent">
		   <div class="contentRow">
			   
				  <div class="lightBlock">
				   <div class="lightBlock" style="line-height:0.82em;border:none !important;">
						 <div class="three-col">
							 <div class="col width40">
								 <span class="messageContent" style="font-weight:bold;">Payment Amount:</span>
							 </div>
							 <div class="col width60">
								 <span class="messageContent">
								 
									  
									  <span style="font-weight:bold;">$0.00</span>
								  
								 </span>
							 </div>
							 <div class="clear"></div>
						 </div>
				   </div>

			  </div>					
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="contentRow">
								<div class="informationModule">
									<div class="contentRow">
										<h3 class="subcontentHeader">I want to...</h3>
									</div>
									<div>
										<div>
										        
										       	 
												<div class="buttonContainer actionbarButtons ">
													  <button type="submit" class="primary-button"><span class="buttonText">Request Payment Arrangement</span>
													</button>	
                                                </div>
                                               <div class="buttonContainer actionbarButtons">
                                                   <button type="submit" class="primary-button"><span class="buttonText">View Usage</span>
												</button>	
                                                </div>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
	
	</div>
</div>


