<header role="banner" aria-label="site header">
	<div class="hidden-phone">          
        <div id="topNav" role="navigation" aria-label="language selection">
           	<div class="fright hidden-phone">
               <div id="globalLang">
                   <ul class="clear">
                      <!--  START - From langaugelocale.jspf Page -->
						<li><a lang="es" hreflang="es" title="Click the link to change the language to Spanish" href="">ESPAÑOL</a></li>
					 
						<li><a lang="ko" hreflang="ko" title="Click the link to change the language to Korean" href="">???</a></li>
					 
						<li><a lang="zh" hreflang="zh" title="Click the link to change the language to Chinese" href="">??</a></li>
					 
						<li><a lang="vi" hreflang="vi" title="Click the link to change the language to Vietnamese" href="">TI?NG VI?T</a></li>
     <!--  END - From langaugelocale.jspf Page -->
                   </ul>
               </div>
          	</div>
          <div class="clear"></div>
        </div>
    </div>
    <div class="globalHeaderBar">
	    <nav id="mobileTopNav" aria-label="mobile navigation">
	    	<a href="" class="visible-phone hidden-tablet utilityLinks center" aria-describedby="mobileMenuSliderInstruction" id="mobileMenuButton" role="button">Menu</a>
	        <!--  START - From logo.jspf Page -->
				<div class="logoContainer">
					<div class="logoContainerInner">
					
						<a class="logo" routerLink="/home">
							<img src="./View Current Outages _ Outage Center _ Home - SCE_files/logo.png" alt="Southern California Edison">
						</a>
						
					</div>
				</div>
			<!--  END - From logo.jspf Page -->
            <a href="" class="visible-phone visible-tablet utilityLinks center" id="mobileLoginButton" role="button" aria-describedby="mobileLoginSliderInstruction">           	
                	<span class="mobileAccountLabelWrapper"><span id="mobileAccountLabel">Log In</span></span>
                
            </a>
        </nav>
	    <nav id="tabletTopNav" aria-label="tablet navigation">
	        <a href="" class="hidden-phone visible-tablet utilityLink" id="tabletMenuButton" role="button" aria-describedby="tabletMenuSliderInstruction"><span class="menuIcon">Menu</span></a>
	       
	       
  		   <a href="" class="hidden-phone visible-tablet utilityLink" id="tabletSearchButton" role="button" aria-describedby="tabletSearchSliderInstruction"><span class="searchIcon">Search</span></a> 
  		   
  		    <!--  START - From logo.jspf Page -->
			<div class="logoContainer">
				<div class="logoContainerInner">
				
					<a class="logo" href="">
						<img src="./View Current Outages _ Outage Center _ Home - SCE_files/logo.png" alt="Southern California Edison">
					</a>
					
				</div>
			</div>
<!--  END - From logo.jspf Page -->
	    	<div style="float: right">
		        		        
			    <a class="utilityLink hidden-phone visible-desktop visible-tablet" id="tabletCartButton" style="position: relative; float: left" href=""><span class="savedItemsIcon">Saved Items</span></a>
					<!-- here was the logo--><!-- here was div desktopSearchButton -->
				<div *ngIf="!(oauthService.hasValidIdToken() || oauthService.hasValidAccessToken())">	
					<a href="" class="utilityLink hidden-phone hidden-desktop visible-tablet" id="tabletLoginButton" role="button" aria-describedby="tabletLoginSliderInstruction" style="position: relative; float: left">
					
						<span class="loginIcon"><span id="tabletAccountLabel" style="visibility: visible; display: inline;" class="tabletAccountLabel">Log In/Register</span></span>
					
					</a>
				</div>
				<div id="loginWidget" *ngIf="(oauthService.hasValidIdToken() && oauthService.hasValidAccessToken())">
					<button (click)="logout()" class="btn btn-sm btn-outline-primary float-right">Logout</button>
					<h2>Welcome, {{givenName}}!</h2> 
				</div>	
        	</div> 
	        <div class="clear"></div>
	     </nav>
	     
	    <nav id="desktopUtilityLinks" aria-label="desktop navigation">
	    	
  		    <!--  START - From logo.jspf Page -->
			<div class="logoContainer">
				<div class="logoContainerInner">
				
					<a class="logo" routerLink="/home">
						<img src="https://wwwsysb.sce.com/wps/scethemeresponsive/static/themes/scethemeresponsive/images/logo.png" alt="Southern California Edison">
					</a>
					
				</div>
			</div>
			<!--  END - From logo.jspf Page -->

	    	<div style="float: right">		       
		      
		       <a href="" class="utilityLink hidden-phone visible-desktop" id="desktopSearchButton" aria-describedby="desktopSearchSliderInstruction" role="button" style="float: left"><span class="searchIcon">Search</span></a>
		         		        
			    <a class="utilityLink hidden-phone visible-desktop visible-tablet" id="desktopCartButton" style="position: relative; float: left" href=""><span class="savedItemsIcon">Saved Items</span></a>
				<!-- here was the logo--><!-- here was div desktopSearchButton -->
	
				<a *ngIf="!(oauthService.hasValidIdToken() || oauthService.hasValidAccessToken())" href="" class="utilityLink hidden-phone visible-desktop " id="desktopLoginButton" role="button" aria-describedby="desktopLoginSliderInstruction" style="position: relative; float: left"><span class="loginIcon"><span id="desktopAccountLabel" style="visibility: visible; display: inline;" onclick="">Log In/Register</span></span></a>
		        
				<a *ngIf="(oauthService.hasValidIdToken() && oauthService.hasValidAccessToken())" (click)="logout()" class="utilityLink hidden-phone visible-desktop " id="desktopLoginButton" role="button" aria-describedby="desktopLoginSliderInstruction" style="position: relative; float: left"><span class="loginIcon"><span id="desktopAccountLabel" style="visibility: visible; display: inline;" onclick="">{{givenName}} Logout</span></span></a>
				
        	</div> 
	        <div class="clear"></div>
	     </nav>
         <div class="clear"></div>
     </div>
</header>
<div id="loginWidget" *ngIf="!(oauthService.hasValidIdToken() || oauthService.hasValidAccessToken()) ">
	<login-widget></login-widget>
</div>	
